.app {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 3rem;
  padding: 2.25rem;
  border-radius: 20px;
  box-shadow: 5px 5px 12px 0px hsl(186, 27%, 71%);
  -webkit-box-shadow: 5px 5px 12px 0px hsl(186, 27%, 71%);
  -moz-box-shadow: 5px 5px 12px 0px hsl(186, 27%, 71%);
  background-color: hsl(0, 0%, 100%);
}

/* ---------------- left side ---------------------  */

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;
}

.label {
  font-size: 0.825rem;
  font-weight: 700;
  color: hsl(186, 14%, 43%);
}

/* ----   endLeft   ---- */

/* ----------------- right side -------------------*/

.right-side {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 1.5rem;
  height: 370px;
  width: 350px;
  padding: 2rem;
  border-radius: 15px;
  background-color: hsl(183, 100%, 15%);
}

.second-result {
  flex: 1;
}
